<header>
  <div class="container">
    <div class="logoNmenu">
      <div class="smallLogo"><img src="assets/image/logo.png" alt="Logo"></div>

    <div class="menu">
      <div class="menuitem"> <span>SERVICES</span>  <div class="line"></div></div>
      <div class="menuitem"> <span>PROJECTS</span>  <div class="line"></div></div>
      <div class="menuitem"> <span>ABOUT US</span>   <div class="line"></div></div>
      <div class="menuitem"> <span>BLOG</span>  <div class="line"></div></div>
      <div class="menuitem"> <span>CLIENTS</span>  <div class="line"></div></div>
      <div class="menuitem"> <span>CONTACT</span>  <div class="line"></div></div>
    </div>
    <div class="sending">
      <div class="sendEnquiry">
        <i class='fa fa-long-arrow-right'></i> Send Enquiry
      </div>
    </div>
  </div>
  </div>
</header>

