<div class="start_screen big_screen">
  <div class="logo"><img src="assets/image/logo.png" alt=""></div>
  <div class="tagline_container">
    <div class="tagline">Immersive Technology for the World</div>
    <div class="subTagline">The true meaning of creativity is people oriented approach</div>
  </div>
  <div class="button_container">
    <div class="button_image" (click) = 'home()'>
      <!-- <img src="assets/image/hp_ssets/Button.png" alt=""> -->
      <i class="fa fa-angle-down"></i>
      <i class="fa fa-angle-down"></i>
      <i class="fa fa-angle-down"></i>
    </div>
  </div>
</div>



<div class="smstart_screen small_screen">
  <div class="inner_container">
    <div class="logo_n_burger">
      <div class="logo"><img src="assets/image/logo.png" alt=""></div>
      <div class="burger"><i class="fa fa-bars"></i></div>
    </div>
    <div class="tagline_container">
      <div class="tagline">Immersive Technology for the World</div>
      <div class="subTagline">The true meaning of creativity is people oriented approach</div>
    </div>
    <div class="button_container"><div class="button_image" (click) = 'home()'><i class='fa fa-long-arrow-down'></i></div></div>
  </div>

</div>
