<div class="container">
  <div class="header">We Are Proud Of Our Work</div>
  <div class="taglines">
    <div class="tag_part">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis
      nostrum quisquam beatae quibusdam harum sapiente illum ducimus,
    </div>
    <div class="tag_part">
      iusto architecto ex deleniti nihil temporibus mollitia saepe reiciendis a
      exercitationem numquam. Velit!
    </div>
  </div>
  <div class="work_grid">
    <div class="left_grid gridvalues">
      <div class="grid1 image">
        <img src="assets/image/services/1_Our_Work.jpg" alt="" />
        <div class="hover">Holographic Projection</div>
      </div>
      <div class="bottom">
        <div class="grid2 image">
          <img src="assets/image/services/3_Our_Work.jpg" alt="" />
          <div class="hover">Virtual Reality</div>
        </div>
        <div class="grid3 image">
          <img src="assets/image/services/5_Our_Work.jpg" alt="" />
          <div class="hover">Mobile Application</div>
        </div>
      </div>
    </div>
    <div class="center_grid gridvalues">
      <div class="grid4 image">
        <img src="assets/image/services/4_Our_Work.jpg" alt="" />
        <div class="hover">Virtual Reality</div>
      </div>
    </div>
    <div class="right_grid gridvalues">
      <div class="grid5 image">
        <img src="assets/image/services/2_Our_Work.jpg" alt="" />
        <div class="hover">Robotics</div>
      </div>
      <div class="grid6 image">
        <img src="assets/image/services/2_Our_Work.jpg" alt="" />
        <div class="hover">Multitouch Platform</div>
      </div>
    </div>



  </div>
</div>
<div class="small_container">
  <div class="inner_container">
    <div class="header">We Are Proud Of Our Work</div>
    <div class="taglines">
      <div class="tag_part">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis
        nostrum quisquam beatae quibusdam harum sapiente illum ducimus, iusto
        architecto ex deleniti nihil temporibus mollitia saepe reiciendis a
        exercitationem numquam. Velit!
      </div>
    </div>
    <div class="work_grid">
      <div class="image grid1"><img src="assets/image/services/1_Our_Work.jpg" alt="" /></div>
      <div class="image grid2"><img src="assets/image/services/3_Our_Work.jpg" alt="" /></div>
      <div class="image grid3"><img src="assets/image/services/5_Our_Work.jpg" alt="" /></div>
      <div class="image grid4"><img src="assets/image/services/4_Our_Work.jpg" alt="" /></div>
      <div class="image grid5"><img src="assets/image/services/2_Our_Work.jpg" alt="" /></div>
      <div class="image grid6"><img src="assets/image/services/2_Our_Work.jpg" alt="" /></div>
    </div>
  </div>
</div>
