<div class="container">
  <div class="head_detail">
    <div class="heading">Contact Us</div>
    <div class="text">
      Drop us a line or give us a ring. We love to hear from you and are happy
      to answer any questions.
    </div>
    <div class="blocks">
      <div class="block">
        <div class="icon"><img src="/assets/image/location.png" alt=""></div>
        <div class="head">Our Office</div>
        <div class="texts">
          <div class="text">Rayqube Future Tech DMCC 2806, Mazaya Business Avenue AA1, Jumeirah Lake Tower, Dubai</div>
          <div class="text">216 Sankalp Tower, Queens Road Turn, Khatipura Road,Vaishali Nagar, Jaipur, Rajasthan 302012 India</div>
        </div>
      </div>
      <div class="block">
        <div class="icon"><img src="/assets/image/email.png" alt=""></div>
        <div class="head">Email</div>
        <div class="texts">
          <div class="text">Lorem ipsum dolor sit amet</div>
          <div class="text">Lorem ipsum dolor sit amet</div>
        </div>
      </div>
      <div class="block">
        <div class="icon"><img src="/assets/image/call.png" alt=""></div>
        <div class="head">Phone</div>
        <div class="texts">
          <div class="text">Lorem ipsum dolor sit amet</div>
          <div class="text">Lorem ipsum dolor sit amet</div>
        </div>
      </div>
    </div>
  </div>
  <div class="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3557.442262050438!2d75.7510122154041!3d26.921190466205253!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396db37beaac3f33%3A0xf1e3a9a5b66701d3!2sSankalp%20Tower!5e0!3m2!1sen!2sin!4v1584540669655!5m2!1sen!2sin"
      width="600"
      height="450"
      frameborder="0"
      style="border:0;"
      allowfullscreen="false"
      aria-hidden="false"
      tabindex="0"
      controls="false"
    ></iframe>
  </div>
  <div class="bottom_navigation">

    <div class="sections">
      <div class="about section">
        <div class="head">About us</div>
        <div class="text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum porro
          nobis, sit eius doloremque accusantium
        </div>
        <div class="three_circles">
          <div class="icon"><i class = 'fa fa-facebook-f'></i></div>
          <div class="icon"><i class = 'fa fa-twitter'></i></div>
          <div class="icon"><i class = 'fa fa-google-plus'></i></div>
        </div>
      </div>
      <div class="recent_posts section">
        <div class="head">Recent Posts</div>
        <div class="posts">
          <div class="post">
            <div class="title">Lorem</div>
            <div class="admin_date">
              <div class="admin">Admin</div>
              <div class="date">Dec 12, 2010</div>
            </div>
          </div>
          <div class="post">
            <div class="title">Lorem</div>
            <div class="admin_date">
              <div class="admin">Admin</div>
              <div class="date">Dec 12, 2010</div>
            </div>
          </div>
        </div>
      </div>
      <div class="quick_links section">
        <div class="head">Quick Links</div>
        <div class="links">
          <div class="column">
            <div>About Us</div>
            <div>Services</div>
            <div>Contact Us</div>
            <div>Blog</div>
          </div>
          <div class="column">
            <div>Clients</div>
            <div>Privacy Policy</div>
            <div>Locations</div>
          </div>
        </div>
        <div class="sitemap head">Sitemap &nbsp; <i class='fa fa-long-arrow-right'></i></div>
      </div>
    </div>
  </div>

  <div class="copyright">
    <div class='copy'>Copyright &copy; 2020 by Rayqube Future Tech. All Rights Reserved.</div>
  </div>
</div>


<div class="small_container">
  <div class="head_detail">
    <div class="heading">Contact Us</div>
    <div class="text_head">
      Drop us a line or give us a ring. We love to hear from you and are happy
      to answer any questions.
    </div>
    <div class="blocks">
      <div class="block">
        <div class="icon"><img src="/assets/image/location.png" alt=""></div>
        <div class="head">Our Office</div>
        <div class="texts">
          <div class="text">Rayqube Future Tech DMCC 2806, Mazaya Business Avenue AA1, Jumeirah Lake Tower, Dubai</div>
          <div class="text">216 Sankalp Tower, Queens Road Turn, Khatipura Road,Vaishali Nagar, Jaipur, Rajasthan 302012 India</div>
        </div>
      </div>
      <div class="block">
        <div class="icon"><img src="/assets/image/email.png" alt=""></div>
        <div class="head">Email</div>
        <div class="texts">
          <div class="text">info@rayqube.com</div>
          <div class="text">sankalp@rayqube.com</div>
        </div>
      </div>
      <div class="block">
        <div class="icon"><img src="/assets/image/call.png" alt=""></div>
        <div class="head">Phone</div>
        <div class="texts">
          <div class="text">Dubai: +971-45573075</div>
          <div class="text">Lorem ipsum dolor sit amet</div>
        </div>
      </div>
    </div>
  </div>
  <div class="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3557.442262050438!2d75.7510122154041!3d26.921190466205253!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396db37beaac3f33%3A0xf1e3a9a5b66701d3!2sSankalp%20Tower!5e0!3m2!1sen!2sin!4v1584540669655!5m2!1sen!2sin"

      frameborder="0"
      style="border:0;"
      allowfullscreen="false"
      aria-hidden="false"
      tabindex="0"
      controls="false"
    ></iframe>
  </div>
  <div class="bottom_navigation">

    <div class="sections">
      <div class="about section">
        <div class="head">About us</div>
        <div class="text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum porro
          nobis, sit eius doloremque accusantium
        </div>
        <div class="three_circles">
          <div class="icon" (click) = 'socialLinks("https://www.facebook.com/Rayqube-futuretech-Pvt-Ltd-724560877733767/")'><i class = 'fa fa-facebook-f'></i></div>
          <div class="icon" (click) = 'socialLinks("https://twitter.com/rayqubeftech/")'><i class = 'fa fa-twitter'></i></div>
          <div class="icon" (click) = 'socialLinks("https://www.linkedin.com/company/rayqubefuturetech/")'><i class = 'fa fa-linkedin'></i></div>
        </div>
      </div>
      <div class="recent_posts section">
        <div class="head">Recent Posts</div>
        <div class="posts">
          <div class="post">
            <div class="title">Lorem</div>
            <div class="admin_date">
              <div class="admin">Admin</div>
              <div class="date">Dec 12, 2010</div>
            </div>
          </div>
          <div class="post">
            <div class="title">Lorem</div>
            <div class="admin_date">
              <div class="admin">Admin</div>
              <div class="date">Dec 12, 2010</div>
            </div>
          </div>
        </div>
      </div>
      <div class="quick_links section">
        <div class="head">Quick Links</div>
        <div class="links">
          <div class="column">
            <div>About Us</div>
            <div>Services</div>
            <div>Contact Us</div>
            <div>Blog</div>
          </div>
          <div class="column">
            <div>Clients</div>
            <div>Privacy Policy</div>
            <div>Locations</div>
          </div>
          <div class="sitemap head">Sitemap &nbsp;<i class= 'fa fa-long-arrow-right'></i></div>
        </div>

      </div>
    </div>
  </div>
  <div class="copyright">
    <div class='copy'>Copyright &copy; 2020 by Rayqube Future Tech. All Rights Reserved.</div>

  </div>
</div>
