<div class="container">
  <div class="head">
    <div class="button">View more news</div>
    <div class="title">Latest From Our Blogs</div>
  </div>
  <div class="text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quaerat
    rerum, recusandae, consequuntur ab doloremque iusto quas reprehenderit sint,
    voluptas assumenda consectetur sed optio magnam vitae voluptatum maxime
    molestias quisquam?
  </div>
  <div class="latest_blogs">
    <div class="blog">
      <div class="date">25th Oct, 1944</div>
      <div class="heading">Lorem ipsum dolor sit amet</div>
      <div class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem pariatur
        esse aperiam voluptates architecto!
      </div>
      <div class="readmore">Read More</div>
    </div>
    <div class="blog">
      <div class="date">25th Oct, 1944</div>
      <div class="heading">Lorem ipsum dolor sit amet</div>
      <div class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem pariatur
        esse aperiam voluptates architecto!
      </div>
      <div class="readmore">Read More</div>
    </div>
    <div class="imgblog">
      <div class="image"><img src="assets/image/eye.png" alt=""></div>
      <div class="title_date">
        <div class="date">25th Oct, 1944</div>
        <div class="heading">Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet</div>
      </div>
    </div>
  </div>
</div>


<div class="small_container">
  <div class="inner_container">
    <div class="head">
      <div class="button">View more news</div>
      <div class="title">Latest From Our Blogs</div>
    </div>
    <div class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quaerat
      rerum, recusandae.
    </div>
    <div class="imgblog1">
      <div class="image">
        <img src="assets/image/eye.png" alt="">
      </div>
      <div class="title_date">
        <div class="date">25th Oct, 1944</div>
        <div class="heading">Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet</div>
      </div>
    </div>
  </div>
</div>
