<div class="container">
  <div class="title">Our Services</div>
  <div class="twobuttons">
    <div #services [ngClass]="!switchStatus ? 'active' : ''" (click) = "switchTabs('services')">Services</div>
    <div #industries [ngClass]="switchStatus ? 'active' : ''" (click) = "switchTabs('industries')">Industries</div>
  </div>
  <div class="services_industries">
    <div class="industries_container" *ngIf="switchStatus"></div>
    <div class="services_container" *ngIf="!switchStatus">
      <div class="service vr">
        <div class='image'>
          <img
            src="assets/image/hp_ssets/Icons-Services/VirtualReality.png"
            alt=""
          />
        </div>
        <div class = 'head'>Virtual Reality</div>
        <div class='text'>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit amet
          maiores harum tempore nesciunt eveniet porro libero voluptatibus
          architecto.
        </div>
        <div class = 'more'>More</div>
      </div>
      <div class="service ts">
        <div class='image'>
          <img
            src="assets/image/hp_ssets/Icons-Services/TouchScreen.png"
            alt=""
          />
        </div>
        <div class = 'head'>Touch Screen</div>
        <div class='text'>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit amet
          maiores harum tempore nesciunt eveniet porro libero voluptatibus
          architecto.
        </div>
        <div class = 'more'>More</div>
      </div>
      <div class="service ad">
        <div class='image'>
          <img
            src="assets/image/hp_ssets/Icons-Services/AppDevelopment.png"
            alt=""
          />
        </div>
        <div class = 'head'>App Development</div>
        <div class='text'>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit amet
          maiores harum tempore nesciunt eveniet porro libero voluptatibus
          architecto.
        </div>
        <div class = 'more'>More</div>
      </div>
      <div class="service ar">
        <div class='image'>
          <img
            src="assets/image/hp_ssets/Icons-Services/AugmentedReality.png"
            alt=""
          />
        </div>
        <div class = 'head'>Augmented Reality</div>
        <div class='text'>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit amet
          maiores harum tempore nesciunt eveniet porro libero voluptatibus
          architecto.
        </div>
        <div class = 'more'>More</div>
      </div>
      <div class="service ibs">
        <div class='image'>
          <img
            src="assets/image/hp_ssets/Icons-Services/IotBasedSolutions.png"
            alt=""
          />
        </div>
        <div class = 'head'>IOT Based Solutions</div>
        <div class='text'>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit amet
          maiores harum tempore nesciunt eveniet porro libero voluptatibus
          architecto.
        </div>
        <div class = 'more'>More</div>
      </div>
      <div class="service mr">
        <div class='image'>
          <img
            src="assets/image/hp_ssets/Icons-Services/MixedReality.png"
            alt=""
          />
        </div>
        <div class = 'head'>Mixed Reality</div>
        <div class='text'>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit amet
          maiores harum tempore nesciunt eveniet porro libero voluptatibus
          architecto.
        </div>
        <div class = 'more'>More</div>
      </div>
    </div>
    <!-- <div class="viewall" *ngIf="!switchStatus">View all services.</div>
    <div class="viewall" *ngIf="switchStatus">View all industries.</div> -->
  </div>

</div>


<div class="small_container">
  <div class="inner_container">
    <div class="head_container">
      <div class="heading">Our Services</div>
      <div class="twobuttons">
        <div (click) = "switchTabs('services')" [ngClass] = "!switchStatus ? 'active' : ''">Services</div>
        <div (click) = "switchTabs('industries')" [ngClass] = "switchStatus? 'active' : ''">Industries</div>
      </div>
    </div>
    <div class="services_container" *ngIf="!switchStatus">
      <div class="service vr">
        <div class='image'>
          <img
            src="assets/image/hp_ssets/Icons-Services/VirtualReality.png"
            alt=""
          />
        </div>
        <div class = 'head'>Virtual Reality</div>
        <div class = 'more'><i class='fa fa-long-arrow-right'></i> More</div>
      </div>
      <div class="service ts">
        <div class='image'>
          <img
            src="assets/image/hp_ssets/Icons-Services/TouchScreen.png"
            alt=""
          />
        </div>
        <div class = 'head'>Touch Screen</div>
        <div class = 'more'><i class='fa fa-long-arrow-right'></i> More</div>
      </div>
      <div class="service ad">
        <div class='image'>
          <img
            src="assets/image/hp_ssets/Icons-Services/AppDevelopment.png"
            alt=""
          />
        </div>
        <div class = 'head'>App Development</div>
        <div class = 'more'><i class='fa fa-long-arrow-right'></i> More</div>
      </div>
      <div class="service ar">
        <div class='image'>
          <img
            src="assets/image/hp_ssets/Icons-Services/AugmentedReality.png"
            alt=""
          />
        </div>
        <div class = 'head'>Augmented Reality</div>
        <div class = 'more'><i class='fa fa-long-arrow-right'></i> More</div>
      </div>
      <div class="service ibs">
        <div class='image'>
          <img
            src="assets/image/hp_ssets/Icons-Services/IotBasedSolutions.png"
            alt=""
          />
        </div>
        <div class = 'head'>IOT Based Solutions</div>
        <div class = 'more'><i class='fa fa-long-arrow-right'></i> More</div>
      </div>
      <div class="service mr">
        <div class='image'>
          <img
            src="assets/image/hp_ssets/Icons-Services/MixedReality.png"
            alt=""
          />
        </div>
        <div class = 'head'>Mixed Reality</div>
        <div class = 'more'><i class='fa fa-long-arrow-right'></i> More</div>
      </div>
    </div>
    <div class="industries_container" *ngIf = "switchStatus"></div>
    <!-- <div class="viewall">View all services.</div> -->
  </div>
</div>
